version: '3'

services:
  {{ service_name }}:
    restart: always
    image: {{ image_registry }}/{{ image_name }}:{{ image_tag }}
    container_name: {{ image_name }}
    ports:
    {% for port in ports -%}
    - {{ port }}
    {% endfor -%}
    volumes:
    {% for volume in volumes -%}
    - {{ volume }}
    {% endfor -%}
    env_file:
    - "/app/.env"
    {% if custom_command != "" -%}
    command: {{ custom_command }}
    {% endif -%}
