version: '3'

services:
  {{ service_name }}:
    restart: always
    image: {{ deployment.image_registry }}/{{ deployment.image_name }}:{{ deployment.image_tag }}
    container_name: {{ deployment.image_name }}
    ports:
    {% for port in ports -%}
    - {{ port }}
    {% endfor -%}
    volumes:
    {% for volume in volumes -%}
    - {{ volume }}
    {% endfor -%}
    env_file:
    - "/app/.env"
    logging:
      options:
        max-size: "20m"
    {% if custom_command != "" -%}
    command: |-
        {{ custom_command }}
    {% endif -%}
