{
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

(redirect) {
	@http {
		protocol http
	}
	redir @http https://{host}{uri}
}

{% if instance_name -%}
    {{ instance_name }}
{%- else -%}
    node-{{ instance_id }}
{%- endif %}.{{ http_subdomain }} {
    log {
        output stdout
        format json
    }
    {% if rpc_port != "" %}
    @websockets {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy localhost:{{ rpc_port }}
    {% endif %}
 	reverse_proxy localhost:8080
 }
