# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

{
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

(redirect) {
	@http {
		protocol http
	}
	redir @http https://{host}{uri}
}

node-{{ instance_id }}.{{ http_subdomain }} {
    log {
        output stdout
        format json
    }
    {% if ws_port != "" %}
    reverse_proxy /ws localhost:{{ ws_port }} {
        @websockets {
            header Connection *Upgrade*
            header Upgrade    websocket
        }

        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    {% endif %}
 	reverse_proxy localhost:8080
 }
